<form #loginForm="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      ngModel
      name="email"
      required
      email
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      #emailInput="ngModel"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
    <div
      *ngIf="emailInput.invalid && emailInput.dirty"
      class="alert alert-danger"
    >
      Veuillez renseignez un email valide
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      ngModel
      required
      minlength="4"
      name="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      #pwdlInput="ngModel"
    />
    <div
      *ngIf="pwdlInput.invalid && pwdlInput.dirty"
      class="alert alert-danger"
    >
      La taille du mot de passe doit être de 4 caractères minimum
    </div>
  </div>
  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="btn btn-primary mt-2"
  >
    login
  </button>
</form>
